.ml12 {
    display: inline-block;
    font-weight: 350;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #839496;
    font-family: "Source Sans Pro", sans-serif;
  }

  .ml12 .letter {
    display: inline-block;
    line-height: 1em;
  }

.stats {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 800px;
    height: auto;
}

.word_cloud {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
    height: auto;
}

